.profile-pict{
  margin-top: 20px;
  width: 20%;
  border-radius: 50%;
}

span{
  color: black;
  font-family: Lexend-Medium;
  font-size: 17px;
}
.text-input{
  color: black;
  font-family: Lexend;
  font-size: 17px;
}

.btn-color-save{
  background-color: #eef5f4;
  /* background-color: #eef5f4; */
  color: #2A9377;
  border-radius: 5px;
  border-color: #2A9377;
  width: 170px;
  /* filter: drop-shadow(3px 3px 7px rgba(34, 34, 34, 0.329)); */
}

.btn-color-save:hover{
  background-color: #2A9377;
  color: #ffffff;
  border-radius: 5px;
  /* filter: drop-shadow(3px 3px 7px rgba(34, 34, 34, 0.329)); */
}

.btn-color-cancel{
  background-color: #77232d;
  /* background-color: #eef5f4; */
  color: #eef5f4;
  border-radius: 5px;
  border-color: #2A9377;
  width: 170px;
  /* filter: drop-shadow(3px 3px 7px rgba(34, 34, 34, 0.329)); */
}

.btn-color-cancel:hover{
  background-color: #c13a4a;
  color: #ffffff;
  border-radius: 5px;
  /* filter: drop-shadow(3px 3px 7px rgba(34, 34, 34, 0.329)); */
}