.textBold{
  font-family: Lexend-Bold;
  color: #2c2c2c;
  font-size: 60px;

}
.text-thin{
  font-family: Lexend-Thin;
  color: #2c2c2c;
  font-size: 16px;
  letter-spacing: 1.3px;
  
}

.profilePict{
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  width: 20%;
}

.cardNew{
  border-radius: 15px;
  background-color: white;
  filter: drop-shadow(3px 3px 15px rgba(82, 82, 82, 0.131));
  margin-bottom: 2%;
}

.cardNew .cNHeader{
  background-color: #ffffff;
  padding-top: 1%;
  margin: 1%;
  padding-left: 2%;
}

.cardNew .cNHeader .text{
  font-family: Lexend;
  font-size: 100%;
  color: rgb(31, 37, 49);
  margin-left: 1%;
}

.cardNew .cNBody{
  background-color: #ffffff;
  /* padding-top: 1%; */
  padding-bottom: 1%;
  padding-left: 1%;
  margin: 1%;
  position: relative;
}

.cardNew .cNBody .text{
  font-family: Lexend;
  font-size: 100%;
  color: #1f2531;
}

.cardNew .cNBody .textDate{
  font-family: Lexend;
  font-size: 80%;
  color: rgb(132, 140, 156);
}

.cardNew .cNBody .pictPost{
  border-radius: 15px;
  width: 100%;
}

.cardNew .cNFooter{
  background-color: #ffffff;
  /* padding-top: 1%; */
  padding-bottom: 2%;
  margin-bottom: 1.1%;
  padding-top: 2%;
  position: absolute;
  bottom: 0;
  width: 95%;
}

.shadow-input{
  filter: drop-shadow(3px 3px 5px rgba(61, 61, 61, 0.13))
}

Input::placeholder {
  font-family: Lexend;
  font-size: 80%;
}