.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Lexend-Thin';
  src: local('Lexend'), url(/src/fonts/lexend/Lexend-Thin.ttf) format('truetype');
}

@font-face {
  font-family: 'Lexend';
  src: local('Lexend'), url(/src/fonts/lexend/Lexend-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Lexend-Medium';
  src: local('Lexend'), url(/src/fonts/lexend/Lexend-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Lexend-SemiBold';
  src: local('Lexend'), url(/src/fonts/lexend/Lexend-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Lexend-Bold';
  src: local('Lexend'), url(/src/fonts/lexend/Lexend-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Lexend-Black';
  src: local('Lexend'), url(/src/fonts/lexend/Lexend-Black.ttf) format('truetype');
}

